
// -----------------------------
// Variables
// -----------------------------

$color: #555
$lightColor: #efefef
$darkColor: #333
$wColor: #ffffff

// -----------------------------
// Global Styles
// -----------------------------
*
  box-sizing: border-box
  margin: 0
  padding: 0

body
  padding: 0
  margin: 0
  font-size: 14px
  color: $color
  font-family: 'Open Sans', sans-serif

a
  text-decoration: none
  display: inline-block

.wrapper
  width: 100%
  margin: 0 auto


// -----------------------------
// App Specific
// -----------------------------

.header, .main, .footer
  width: 100%
  display: block
  clear: both
  

// -----------------------------
// Header
// -----------------------------

.header
  width: 90%
  margin: 0 auto
  padding-top: 20px
  overflow: hidden
  // border-bottom: 1px solid $lightColor
  // background-color: orange

  a.img
    float: left
// -----------------------------
// Navigation
// -----------------------------

.nav
  float: right
  //margin-top: -40px
  color: $wColor
  margin: 40px 10px 0px 0px

  li
    margin: 0
    padding: 0
    display: inline-block
    list-style: none
    a
      padding: 0px 20px
      font-size: 20px
      color: #97BD98
    a:hover
      line-height: 5px
      color:grey

.navfooter
  float: right
  //margin-top: -40px
  color: white
  margin: 0px 5px 0px 0px

  li
    margin: 0
    padding: 0
    display: inline-block
    list-style: none

    a
      padding: 10px 20px
      font-size: 15px
      color: white

// -----------------------------
// Main
// -----------------------------

.main
  width: 100%
  margin: 0 auto
  
.banner
  text-align: center
  width: 100%
  margin-top: -125px
  height: 625px
  background: red
  background: url(../../assets/images/banner.jpg)
  background-size: cover

  h2.name
    font-weight: lighter
    font-size: 25px
    color: white
    position: absolute
    right: 30%
    top: 40%
    width: 600px
    text-align: center


.recentproject
  width: 100%
  h3.title
    text-align: center
    background-color: grey
    height: 50px
    font-size: 22px
    color: white
    font-weight: lighter
    line-height: 50px
    text-transform: uppercase
  .projectone
    height: auto
    float: left
    clear: right
    margin: 20px 0px 0px 40px
  .projectone:hover
    opacity: 0.85

  .overlay-content
    width: 397px
    margin-left: 2px
    min-height: 347px
    padding-top: 134px
    font-size: 20px
    opacity: 0
    position: absolute
    float: left
    text-align: center
    background-color: #3DA5D3
    color: black
    top: 700px
  .overlay-content:hover
    opacity: 0.85
  .button a
    margin: 25px 0px 0px 0px
    padding: 5px 40px 5px 40px
    font-size: 30px
    font-weight: lighter
    border-style: solid
    border-width: 1px
    border-color: black
    color: black

.viewmore
  text-align: center
  border: 1px solid black
  color: black

  font-size: 15px
  
  padding: 10px 60px 10px 60px
  margin: 25px 0px 10px 585px
.viewmore:hover
  background-color: #808080
  color:black

// -----------------------------
// Work page style
// -----------------------------

h3.title
  color: rgb(164, 160, 188)
  font-weight: lighter
  font-size: 25px
  font-weight: 28px
  line-height: 50px


.workproject 
  float: left
  margin: 20px -60px 10px 140px
  .overlay-content-work
    width: 446px
    margin-left: 2px
    min-height: 396px
    padding-top: 143px
    font-size: 20px
    opacity: 0
    float: left
    position: absolute
    text-align: center
    background-color: #3DA5D3
    color: black
    margin-top: -402px
  .overlay-content-work:hover
    opacity: 0.85
  .button a
    margin: 25px 0px 0px 0px
    padding: 5px 40px 5px 40px
    font-size: 30px
    font-weight: lighter
    border-style: solid
    border-width: 1px
    border-color: black
    color: black
// -----------------------------
//About page
// -----------------------------
.bio
  height: 300px
  width: 950px
  margin: 0 auto
  .bio-image
    float: left
    overflow: visible
  .bio-text
    width: 650px
    font-size: 15px
    line-height: 25px
    float: right
    margin-top: 20px
    margin-right: 0px
  .books
    margin: 50px 0px 0px 307px
    .bookone
      margin-right: 40px 
      height: 220px
.quote 
  width: 340px
  margin: 0 auto
  margin-top: 0px
  margin-right: auto
  margin-bottom: 0px
  margin-left: auto
  text-align: center
  font-size: 20px
  padding-top: 100px
  .right
    float: right
.skills 
  width: 640px
  margin: 0 auto
  margin-top: 0px
  margin-right: auto
  margin-bottom: 0px
  margin-left: 300px

.downloadbutton 
  width: 220px
  height: 47px
  margin: 0 auto
  margin-bottom: 40px
  margin-top: 70px
  background-color: grey
  color: black
  padding-top: 15px
  text-align: center
  letter-spacing: 1.5px
  -webkit-transition-duration: 0.3s
  transition-duration: 0.3s
  -webkit-transition-property: background
  transition-property: background
  -webkit-transform: translateZ(0)
  transform: translateZ(0)
  box-shadow: inset 0 0 0 4px #e1e1e1, 0 0 1px rgba(0, 0, 0, 0)
.downloadbutton:hover
  background: none
  color: black

// -----------------------------
// Contact page style
// -----------------------------

.form
  width: 630px
  text-align: center
  height: auto
  margin: 25px auto
  position: relative
  h2
    margin: 22px 0px 15px 5px
    font-size: 30px
  p
    margin: 0px 0px 20px 0px
    font-size: 15px
  input#subject 
    width: 100%
    height: 55px
    border: 1px solid #bfbfbf
    background-color: transparent
    position: relative
    color: black
    font-size: 14px
    padding-left: 20px
    letter-spacing: 0.01em
    -webkit-border-radius: 3px 3px 0 0
    -moz-border-radius: 3px 3px 0 0
    -ms-border-radius: 3px 3px 0 0
    -o-border-radius: 3px 3px 0 0
    border-radius: 3px 3px 0 0
  textarea 
    width: 100%
    height: 150px
    border: 1px solid #bfbfbf
    border-top: none
    background-color: transparent
    position: relative
    color: black
    font-size: 14px
    padding-left: 20px
    padding-top: 20px
    letter-spacing: 0.01em
    line-height: 23px

#email-address
  width: 75%
  height: 55px
  border: 1px solid #bfbfbf
  border-top: none
  border-right: none
  background-color: transparent
  position: relative
  color: black
  font-size: 14px
  padding-left: 20px
 
#submit 
  width: 25%
  height: 55px
  border: 1px solid #bfbfbf
  border-top: none
  background-color: transparent
  position: relative
  color: #8c8c8c
  font-size: 14px
  /* padding-left: 7px */
  margin-left: -4px
  text-align: center
  outline: none
  cursor: pointer
#submit:hover
  background-color: grey
  color: white

// -----------------------------
// Activity page style
// -----------------------------

.social
  width: 710px
  margin: 0 auto
  text-align: center
  margin-bottom: 500px
  margin-top: 50px
  .social a
    text-decoration: none
    color: white
.twitter a, .linkedin a, .behance a, .google a, .github a, .mail a
  color: white

.twitter
  height: 115px
  width: 213px
  background-color: #55acee
  float: left
  padding-top: 50px

  /*animation*/

  -webkit-transition-duration: 0.3s
  transition-duration: 0.3s
  -webkit-transition-property: transform
  transition-property: transform
  -webkit-transform-origin: 0 100%
  transform-origin: 0 100%
  -webkit-transform: translateZ(0)
  transform: translateZ(0)
  box-shadow: 0 0 1px rgba(0, 0, 0, 0)
  
  

.twitter:hover
  -webkit-transform: skew(-10deg)
  transform: skew(-10deg)


.linkedin
  height: 115px
  width: 213px
  background-color: #0e76a8
  float: left
  padding-top: 50px

  /*animation*/
  -webkit-transition-duration: 0.3s
  transition-duration: 0.3s
  -webkit-transition-property: transform
  transition-property: transform
  -webkit-transform-origin: 0 100%
  transform-origin: 0 100%
  -webkit-transform: translateZ(0)
  transform: translateZ(0)
  box-shadow: 0 0 1px rgba(0, 0, 0, 0)

.linkedin:hover
  -webkit-transform: skew(-10deg)
  transform: skew(-10deg)

.behance
  height: 115px
  width: 213px
  background-color: #1769ff
  float: left
  padding-top: 50px

  /*animation*/
  -webkit-transition-duration: 0.3s
  transition-duration: 0.3s
  -webkit-transition-property: transform
  transition-property: transform
  -webkit-transform-origin: 0 100%
  transform-origin: 0 100%
  -webkit-transform: translateZ(0)
  transform: translateZ(0)
  box-shadow: 0 0 1px rgba(0, 0, 0, 0)

.behance:hover
  -webkit-transform: skew(-10deg)
  transform: skew(-10deg)

.google
  height: 115px
  width: 213px
  background-color: #dd4b39
  float: left
  padding-top: 50px

  /*animation*/
  -webkit-transition-duration: 0.3s
  transition-duration: 0.3s
  -webkit-transition-property: transform
  transition-property: transform
  -webkit-transform-origin: 0 100%
  transform-origin: 0 100%
  -webkit-transform: translateZ(0)
  transform: translateZ(0)
  box-shadow: 0 0 1px rgba(0, 0, 0, 0)

.google:hover
  -webkit-transform: skew(-10deg)
  transform: skew(-10deg)

.github
  height: 115px
  width: 213px
  background-color: #171515
  float: left
  padding-top: 50px

  /*animation*/
  -webkit-transition-duration: 0.3s
  transition-duration: 0.3s
  -webkit-transition-property: transform
  transition-property: transform
  -webkit-transform-origin: 0 100%
  transform-origin: 0 100%
  -webkit-transform: translateZ(0)
  transform: translateZ(0)
  box-shadow: 0 0 1px rgba(0, 0, 0, 0)
 

.github:hover
  -webkit-transform: skew(-10deg)
  transform: skew(-10deg)

.mail
  height: 115px
  width: 213px
  background-color: #BB8BB9
  float: left
  padding-top: 50px

  /*animation*/
  -webkit-transition-duration: 0.3s
  transition-duration: 0.3s
  -webkit-transition-property: transform
  transition-property: transform
  -webkit-transform-origin: 0 100%
  transform-origin: 0 100%
  -webkit-transform: translateZ(0)
  transform: translateZ(0)
  box-shadow: 0 0 1px rgba(0, 0, 0, 0)

.mail:hover
  -webkit-transform: skew(-10deg)
  transform: skew(-10deg)

// -----------------------------
// Footer
// -----------------------------

.footer
  padding: 10px 0px 10px 0px
  margin: 30px 0px 0px 0px
  border-bottom: 1px solid #efefef
  background: rgb(15, 15, 15)
  p
    margin: 10px 0px 0px 10px
    padding-bottom: 5px
    font-size: 15px

